---
layout: page
title: Projects
---
<h1> Deep learning with application in machine vision and audio processing </h1>
<section class="list">

    <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA1">Implementing 2 layers of Deep-RBFNetwork with robust classification and rejection from scratch just by
using NumPy and pandas library</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
\n
    
        <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA2">Implementing Human Pose Estimation with CNN(AlexNet) using Pytorch library</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
\n
            <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA2">○␣ Implementing an Anomaly Detection network with auto encoders using Pytorch library</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
    
</section>

<h1> Pattern Recognition</h1>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
