---
layout: page
title: Projects
---
<h1> Deep learning with application in machine vision and audio processing </h1>


<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/Final%20Project"><h3 class="title">Implementing the Hierarchical Multi-Scale Attention Network for semantic segmentation using Pytorch
library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
</section> 


<section class="list">
    <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA1"><h3 class="title">Implementing 2 layers of Deep-RBFNetwork with robust classification and rejection from scratch just by
using NumPy and pandas library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>

</section>   

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA2"><h3 class="title">Implementing Human Pose Estimation with CNN(AlexNet) using Pytorch library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
</section> 

<section class="list">
            <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA2"><h3 class="title">Implementing an Anomaly Detection network with auto encoders using Pytorch library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
 </section> 

<section class="list">
            <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA3"><h3 class="title">Implementing Sentimental Analysis network with unidirectional, bidirectional and pyramid LSTM networks
using Pytorch library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
    </section> 
<section class="list">

            <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA3"><h3 class="title">Tuning a pre-trained BERT model over a new data set using Pytorch library</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
    </section> 


<section class="list">
            <a class="url" href="https://github.com/aminfadaei116/Deep-Learning-Course/tree/master/CA4"><h3 class="title">Implementing the encoder section of the Transformer Network for speech recognition using Pytorch libraries</h3></a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2020</time></aside>
    </section> 




<h1> Pattern Recognition</h1>
<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A1">Implementing Parametric and Non-parametric PDF Estimation Algorithms using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A2">Implementing the Expectation-Maximization (EM) Algorithm for Gaussian Mixture Density Model using
NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A4">Implementing Dimensionality Reduction Algorithms(PCA,LDA) using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A5">Implementing Classifiers such as Bayes’ Optimal Classifier, SVM using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A6">Implementing Classifier such as MLP/RBF Networks using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A7">Implementing various Clustering Algorithms such as Agglomerative Hierarchical, Sequential, and k-means
using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Spring 2019</time></aside>
</section> 

<h1> Signal Systems</h1>
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{kossher}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

<h1> Advanced Programming </h1>
<section class="list">
        <a class="url" href="https://github.com/aminfadaei116/Pattern-Recognition-Course/tree/master/A7">Implementing various Clustering Algorithms such as Agglomerative Hierarchical, Sequential, and k-means
using NumPy</a>
    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">Fall 2019</time></aside>
</section> 
